apiVersion: v1
kind: ConfigMap
metadata:
  name: context
data: 
  sdcApiServerImage: europe-docker.pkg.dev/srlinux/eu.gcr.io/sdc-apiserver:latest
  sdcControllerImage: europe-docker.pkg.dev/srlinux/eu.gcr.io/sdc-controller:latest
  dataServerImage: ghcr.io/sdcio/data-server:v0.0.67

