apiVersion: v1
kind: ConfigMap
metadata:
  name: context
data: 
  sdcApiServerImage: ghcr.io/sdcio/sdc-apiserver:latest
  sdcControllerImage: ghcr.io/sdcio/sdc-controller:latest
  dataServerImage: ghcr.io/sdcio/data-server:v0.0.66

